<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=1000" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="{{ theme_url }}/imgs/favicon.png?v=2" />

	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}
	<meta name="description" content="{{ meta.description|striptags }}">
	{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
	{% endif %}

	<link rel="stylesheet" href="{{ theme_url }}/libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ theme_url }}/libs/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ theme_url }}/libs/font-awesome-4.7.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ theme_url }}/libs/bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{{ theme_url }}/style.css?v=2" type="text/css" />
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand" href="#">{{ site_title }}</span>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% for page in pages|sort_by(['meta', 'placing']) if page.meta.show_in_header_nav %}
						<li{% if page.id == current_page.id %} class="active"{% endif %}>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>
<section id="content">
    <div class="inner">
        {{ content }}
    </div>
</section>

<footer id="footer">
</footer>
</body>
</html>